html, body, #app {
  height: 100%;
  width: 100%;
  min-width: 1000px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
[flex~="dir:left"]>[flex-box="1"] {
  width: 1px;
}
[flex~="dir:top"]>[flex-box="1"] {
  height: 1px;
}
.flash-screen-loading {
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}