// 名称
$theme_name: 'light';
// 背景颜色
$theme_background_color: #ddeaf3;
// 侧边栏宽度
$theme_side_width: 220px;
// 头部栏高度
$theme_header_height: 60px;
// 头部栏文字颜色
$theme_header_text_color: #666;
// 头部栏文字actived颜色
$theme_header_text_actived_color: #0af;
// 头部栏hover背景颜色
$theme_header_hover_color: rgba(175, 216, 232, 0.6);
// 内容背景颜色
$theme_content_background_color: #f7f7f7;
// 内容边框颜色
$theme_content_border_color: #c3c3c3;
// $theme_content_border_color: #cfd7e5;